.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  cursor: pointer;
  transition: 0.3s;
}
.navigation-links-text:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-text3 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
}
.navigation-links-text3:hover {
  color: var(--dl-color-scheme-brown);
}









.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 101;
  position: fixed;
  box-shadow: 2px 2px 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-announcement {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  z-index: 102;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #000000;
}
.navigation-announcement:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navigation-warning {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  z-index: 102;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #ffcc00;
}
.navigation-warning:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navigation-title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.navigation-button {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  border-color: #ffffff;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.navigation-button-text {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.navigation-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigation-image {
  width: var(--dl-size-size-large);
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  fill: var(--dl-color-scheme-darkblue);
  width: 24px;
  height: 24px;
  display: flex;
}
.navigation-mobile-menu {
  z-index: 103;
}
.navigation-nav1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .navigation-nav {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
  }
  .navigation-mobile-menu {
    top: 12px;
    right: -604px;
  }
}
@media(max-width: 767px) {
  .navigation-max-width {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-announcement {
    align-items: center;
    flex-direction: column;
  }
}

.portofolio-card-speaker-card {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.portofolio-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: 300px;
  max-height: 313px;
  min-height: 313px;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-end;
}
.portofolio-card-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.portofolio-card-see-project-container {
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(.jpg);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
}
.portofolio-card-see-project-container:hover {
  opacity: 1;
}
.portofolio-card-first-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}


















.portofolio-card-root-class-name18 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name19 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name20 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name21 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name22 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name23 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name24 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name25 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name26 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name27 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name28 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name29 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name30 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name31 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name32 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name33 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name34 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name35 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name36 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name37 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name38 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name39 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name40 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name41 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name42 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name43 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name44 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name45 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name46 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name47 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name48 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name49 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name50 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name51 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name52 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name53 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name54 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name55 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name56 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name57 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name58 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name59 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name60 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name61 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name62 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name63 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name64 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name65 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name66 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name67 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name68 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name69 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name70 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name71 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name72 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name73 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name74 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name75 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name76 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name77 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name78 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name79 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name80 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name81 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name82 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name83 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name84 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name85 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name86 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name87 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name88 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name89 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name90 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name91 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name92 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name93 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name94 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name95 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name96 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name97 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name98 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name99 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name100 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name101 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name102 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name103 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name104 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name105 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name106 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name107 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name108 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name109 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name110 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name111 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name112 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name113 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name114 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name115 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name116 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name117 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name118 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name119 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name120 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name121 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name122 {
  margin-right: var(--dl-space-space-unit);
}
.portofolio-card-root-class-name123 {
  margin-right: var(--dl-space-space-unit);
}





.library-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.library-container01 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.library-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.library-max-width {
  margin-top: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.library-text-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.library-text {
  font-size: 46px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-text01 {
  color: var(--dl-color-scheme-black80);
  text-align: center;
  line-height: 26px;
  margin-bottom: var(--dl-space-space-twounits);
}
.library-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle {
  fill: #000000;
  color: #000000;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.library-text04 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.library-dropdown-arrow {
  transition: 0.3s;
}
.library-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.library-dropdown-list {
  left: 0%;
  width: max-content;
  height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.library-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text16 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text18 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text19 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text20 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-dropdown16 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.library-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.library-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.library-text21 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.library-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: fit-content;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.library-container03 {
  flex: 0 0 auto;
  width: 100%;
  scroll-margin-top: 170px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text22 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text23 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text24 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text27 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text30 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text33 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text36 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text39 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text42 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text45 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text48 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text51 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text54 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text57 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text60 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text63 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.library-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.library-text66 {
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 63px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.01em;
  text-decoration: none;
}
.library-container36 {
  flex: 0 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
@media(max-width: 991px) {
  .library-container06 {
    overflow-x: scroll;
    overscroll-behavior-x: ;
  }
  .library-container08 {
    overflow-x: scroll;
  }
  .library-container10 {
    overflow-x: scroll;
  }
  .library-container12 {
    overflow-x: scroll;
  }
  .library-container14 {
    overflow-x: scroll;
  }
  .library-container16 {
    overflow-x: scroll;
  }
  .library-container18 {
    overflow-x: scroll;
  }
  .library-container20 {
    overflow-x: scroll;
  }
  .library-container22 {
    overflow-x: scroll;
  }
  .library-container24 {
    overflow-x: scroll;
  }
  .library-container26 {
    overflow-x: scroll;
  }
  .library-container28 {
    overflow-x: scroll;
  }
  .library-container30 {
    overflow-x: scroll;
  }
  .library-container32 {
    overflow-x: scroll;
  }
  .library-container34 {
    overflow-x: scroll;
  }
  .library-container36 {
    overflow-x: scroll;
  }
}
